.main {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.548);
  .top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57vh;
    .logo {
      width: 350px;
    }
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 21vh;

    .containtitle {
      margin-top: 50px;
      margin-bottom: 40px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
        font-family: $font-4;
        color: $color-2;
        font-weight: 900;
        width: 100%;
        font-size: 32px;
        text-align: center;
        text-shadow: 1px 0px 0px $color-2;
        letter-spacing: 0.5px;
        -webkit-text-stroke: 0.3px $color-2;

        z-index: 2;
      }
      .crack {
        height: 190px;
        width: 100%;
        position: absolute;
        filter: drop-shadow(1.5px -1px 0.6px rgb(153, 152, 152));
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;

    button {
      color: $color-4;
      font-weight: 900;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 12vh;
      width: 100%;
      font-family: $font-4;
      font-size: 28px;
      border: none;
      background: transparent;
      -webkit-text-stroke: 1px black;
      text-shadow: 0.5px 0px 0px $color-4;
      filter: drop-shadow(1px 0px 10px black);
      cursor: pointer;
    }
  }
}
