@font-face {
  font-family: "black";
  src: url("../style/fonts/Lato-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bold";
  src: url("../style/fonts/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

.Coach-container {
  .Coach-title {
    background: $color-5;
    font-size: 25px;
    font-family: "black";
    font-weight: 900;
    padding-left: 5px;
    clip-path: polygon(0 1%, 90% 0, 100% 100%, 0% 100%);
    width: 65%;
    height: 35px;
    margin: 80px 0px;
  }
  .coach {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    .name-contain {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .name {
        transform: translate(88px, 25px);
        font-family: "black";
        font-size: 7vw;
        text-shadow: 1px 0px 0px $color-1;
        filter: drop-shadow(0.5px 0px 0px rgb(0, 0, 0));
        z-index: 2;
      }
    }
    .top {
      width: 100%;
      rotate: -20deg;
      filter: drop-shadow(1.4px 3px 0.4px rgb(117, 116, 116));
    }
    .coach-contain {
      position: absolute;
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .The-coach,
      .The-coach2 {
        width: 50%;
        clip-path: polygon(0 0, 100% 0%, 100% 98%, 0 81%);
        filter: drop-shadow(3px 0px 4px black);
      }
      .The-coach2 {
        padding-right: 10px;
      }
    }

    .bottom {
      transform: translateY(-160px);
      width: 100%;
      overflow: hidden;
    }
  }
  .about {
    margin: 0;
    color: #ffffff;
    -webkit-text-stroke: 0.2px black;
    backdrop-filter: blur(2px);
    text-align: center;
    font-size: 4.5vw;
    padding: 0px 20px;
  }
  .licence {
    width: 98%;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 80px;
    li {
      display: flex;
      align-items: center;
      color: $color-4;
      font-family: "bold";
      font-size: 4.5vw;

      img {
        height: 30px;
        filter: drop-shadow(1px 1px 0.3px $color-2);
      }
    }
  }
}
