.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 20px;
  padding-top: 0;
  @media (min-width: 1000px) {
    width: 100%;
    background: black;
    flex-direction: row;
    align-items: center;
  }
  .partner-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
  .partner {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    margin: 0;
    color: $color-3;
  }
  ul {
    width: 100%;
    padding: 0;
    li {
      text-align: center;
      padding: 0;
      list-style: none;
      padding: 3px;
      a {
        color: $color-1;
        text-align: center;
      }
    }
  }

  .legal {
    color: $color-3;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1000px) {
      flex-direction: row;
      align-items: flex-start;
      margin-top: 2%;
      width: 60%;
      height: 100%;
    }
  }
  .info-contain {
    @media (min-width: 1000px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 100%;
    }
  }
  .footer__contact-info {
    margin-bottom: 5px;
    text-align: center;
    @media (min-width: 1000px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      text-align: start;
      height: 100%;
      width: 100%;
      font-size: 19px;
    }
  }
  .legal-contain {
    display: flex;
    flex-direction: column;
    @media (min-width: 1000px) {
      width: 30%;
    }
  }
  .footer__logo-copyright {
    display: flex;
    align-items: center;
    @media (min-width: 1000px) {
      flex-direction: column;
      width: 40%;
      height: 100%;
    }
  }

  .footer__logo {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    @media (min-width: 1000px) {
      width: 180px;
      height: 180px;
    }
  }
  .policy {
    width: 100%;
    text-align: center;
    color: $color-1;
    text-decoration: underline;
  }
}
