.header_container {
  position: relative;
  height: 12vh;
  display: flex;
  align-items: center;

  .social {
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 3%;
    padding: 15px 0px;
    @media (min-width: 1000px) {
      margin-left: 2%;
      margin-top: 125px;
      align-items: flex-start;
      flex-direction: column;
    }
    .imgcontain {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 42px;
      width: 42px;
      margin: 0px 10px;
      @media (min-width: 1000px) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
      }

      img {
        width: 100px;
        cursor: pointer;
      }
    }
  }
}
