@font-face {
  font-family: "black";
  src: url("../style/fonts/Lato-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bold";
  src: url("../style/fonts/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

.presta-container {
  .title {
    background: $color-5;
    font-size: 25px;
    font-family: "black";
    font-weight: 900;
    padding-left: 5px;
    clip-path: polygon(0 1%, 90% 0, 100% 100%, 0% 100%);
    width: 65%;
  }
  .cards {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background: url(../style/images/background/lion.png) right/cover;
      box-shadow: -3px 2px 0px $color-3;
      overflow: hidden;
      width: 90%;
      .filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #030303c7;
        z-index: 0;
      }
      p {
        padding: 10px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        font-size: 5vw;
        font-family: "bold";
        color: white;
        z-index: 2;
        -webkit-text-stroke: 0.5px black;
      }
      .spe-contain {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .card-title {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 7vw;
        margin-bottom: 0;
      }
      .card-price {
        width: 40%;
        font-size: 6vw;
        text-align: center;
      }
      .separator {
        width: 80%;
        height: 2px;
        background: $color-4;
        z-index: 2;
      }
      .spe-price {
        width: 100%;
        border-radius: 50% 50% 0px 0px;
        background: $color-5;
        color: black;
        box-shadow: 0px -2px 3px $color-2;
        font-family: "black";
        margin: 0;
      }
      .icon {
        position: absolute;
        bottom: 0.7%;
        right: 15%;
        z-index: 2;
        height: 30px;
      }
      .icon-display {
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        height: 50%;
        width: 90%;

        border: 2px groove $color-4;
        border-radius: 25px;
        backdrop-filter: blur(5px);
        z-index: 2;
        .icon-display-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;
          height: 20%;
          color: $color-3;
          font-size: 24px;
          text-transform: uppercase;
          font-family: "bold";
          -webkit-text-stroke: 0.7px black;
          width: 100%;
          text-align: center;
          border-bottom: 2px dotted $color-1;
        }
        .icon-display-info {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;
        }
        .cancel-modal {
          position: absolute;
          height: 30px;
          background: white;
          border: 2px solid;
          z-index: 3;
          right: 1%;
          top: 1%;
          border-radius: 50%;
        }
      }
    }
  }
  .inscription {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-2;
    width: 70%;
    margin: 0% 15%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 7px 0px #ffffff;
    p {
      color: $color-1;
      width: 100%;
      text-align: center;
      font-family: "black";
    }
  }
}
